# --- Day 3: Squares With Three Sides ---

Now that you can think clearly, you move deeper into the labyrinth of hallways and office furniture that makes up this part of Easter Bunny HQ. This must be a graphic design department; the walls are covered in specifications for triangles.

Or are they?

The design document gives the side lengths of each triangle it describes, but... 5 10 25? Some of these aren't triangles. You can't help but mark the impossible ones.

In a valid triangle, the sum of any two sides must be larger than the remaining side. For example, the "triangle" given above is impossible, because 5 + 10 is not larger than 25.

In your puzzle input, **how many of the listed triangles are possible?**

In [56]:
# the puzzle input
with open('inputs/3.txt') as f:
    data = f.read().strip().split("\n")
data[:3]

['810  679   10', '  783  255  616', '  545  626  626']

First up, a cleaned up list of all our triangles:

In [92]:
triangles = []
for line in data:
    tri = [int(num) for num in line.split()]
    triangles.append(tri)
triangles[:3]

[[810, 679, 10], [783, 255, 616], [545, 626, 626]]

In [64]:
def is_tri(triangle):
    """takes in a triangle as a list of three numbers and returns True if valid, False otherwise"""
    x,y,z = triangle
    if x+y>z and x+z>y and y+z>x:
        return True
    else:
        return False

valid_triangles = [is_tri(triangle) for triangle in triangles]
sum(valid_triangles)

869

Note: sum of an array with boolean values returns the sum of the True values.

# --- Part Two ---

Now that you've helpfully marked up their design documents, it occurs to you that triangles are specified in groups of three vertically. Each set of three numbers in a column specifies a triangle. Rows are unrelated.

For example, given the following specification, numbers with the same hundreds digit would be part of the same triangle:

```
101 301 501
102 302 502
103 303 503
201 401 601
202 402 602
203 403 603
```

**In your puzzle input, and instead reading by columns, how many of the listed triangles are possible?**

So we need to slice this list of lists by columns, which is something numpy is great at, so:

In [105]:
import numpy as np
t = np.array(triangles)
t[:9]

array([[810, 679,  10],
       [783, 255, 616],
       [545, 626, 626],
       [ 84, 910, 149],
       [607, 425, 901],
       [556, 616, 883],
       [938, 900, 621],
       [638, 749, 188],
       [981, 415, 634]])

We can grab the column wise triangles by:

In [114]:
t[0:3,0], t[0:3,1]

(array([810, 783, 545]), array([679, 255, 626]))

In [116]:
def transpose(tri):
    """generates all the column wise trianges in a list of triangles"""
    for i in range(len(t[0])):          # the columns, could just use 3 here
        for j in range(0, len(t)-2, 3): # now going down the entire length of the array
            yield t[j:j+3,i]

sum([is_tri(i) for i in transpose(t)])

1544

# Notes:

- learn more numpy
-